<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
         const routes = [
      {
        id: "Red",
        barangays: [
          "Holy Redeemer Butuan City",
          "Obrero Butuan City",
          "Ambago Butuan City",
          "Bading Butuan City",
          "Agusan Pequeño",
          "Pagatpatan Butuan City",
        ],
      },
      {
        id: "White",
        barangays: [
          "Robinson Butuan",
          "Libertad Butuan City",
          "Bancasi Butuan City",
          "Dumalagan Butuan City",
        ],
      },
      {
        id: "Yellow",
        barangays: [
          "Holy Redeemer Butuan City",
          "Obrero Butuan City",
          "Doongan Butuan City",
          "Ambago Butuan City",
          "Babag Butuan City",
          "Bading Butuan City",
          "Agusan Pequeño Butuan City",
          "Pagatpatan Butuan City",
          "P. Rizal Butuan City",
          "Villa Kananga Butuan City",
          "Imadejas Butuan City",
          "Bayanihan Butuan City",
          "Golden Ribbon Butuan City",
          "Maon Butuan City",
          "Pangabuggan Butuan City",
          "San Vicente Butuan City",
          "Bit-os Butuan City",
        ],
      },
      {
        id: "Green",
        barangays: [
          "Langihan Butuan City",
          "Slaughterhouse Butuan City",
          "Doongan Butuan City",
          "Ambago Butuan City",
          "Babag Butuan City",
          "Bading Butuan City",
          "Agusan Pequeño",
          "Pagatpatan Butuan City",
          "P. Rizal Butuan City",
          "Villa Kananga Butuan City",
          "Imadejas Butuan City",
          "Bayanihan Butuan City",
          "Golden Ribbon Butuan City",
          "Maon Butuan City",
          "Pangabuggan Butuan City",
          "Mandacpan Butuan City",
          "Bit-os Butuan City",
          "Baan Riverside Butuan City",
          "Mahogany Butuan City",
          "Buhangin Butuan",
          "Baan Km.3 Butuan",
          "IRA Homes Butuan",
          "Lemon Butuan",
          "Tiniwisan Butuan",
          "Cabcabon Butuan",
          "Bobon Butuan",
          "Taligaman Butuan",
          "Taligaman High School Butuan",
          "Basag Butuan",
          "Purok 5 Basag Butuan",
          "Ampayon Public Market Butuan",
          "Ampayon Butuan",
          "Liboon Subdivision Butuan",
          "Caraga State University",
          "Camayah",
        ],
      },
      {
        id: "1",
        barangays: [
          "Bangcasi Airport",
          "Dumalagan Butuan",
          "J.C Aquino Avenue",
          "A.D. Curato St. Butuan",
          "Durano St. Butuan",
          "T. Calo St.Butuan",
        ],
      },
      {
        id: "2",
        barangays: [
          "Bangcasi",
          "Dumalagan",
          "J.C Aquino Avenue",
          "North Montilla Blvd",
          "T. Calo St.Butuan",
          "J.C Aquino Ave",
          "Dumalagan",
        ],
      },
      {
        id: "4",
        barangays: [
          "Bangcasi",
          "Dumalagan",
          "J.C Aquino Avenue",
          "A. D. Curato St. Butuan",
          "T. Sanchez St. Butuan",
          "M. Calo St.",
          "G. Flores St. Butuan",
          "Rosales St.",
          "North Montilla Blvd.",
          "BOPAI Puregold Butuan Tabuan",
          "Holy Redeemer",
          "Butuan City Hall",
          "Gaisano Butuan",
          "J. C. Aquino Butuan",
          "Dumalagan",
        ],
      },
      {
        id: "8",
        barangays: [
          "Sto. Nino Diocesan Shrine",
          "Los Angeles Butuan City",
          "Sumilihon Butuan City",
          "Taguibo",
          "Ampayon",
          "Philippine Science High School Butuan",
          "Tiniwisan",
          "Baan Butuan City",
          "J.C. Aquino Ave.",
          "J. Rosales St.",
          "Butuan City Hall",
          "J. Satorre St.",
          "Jeels Masagana Farm",
          "Salvador Calo St.",
          "Langihan Public Market",
          "Magsaysay St. Butuan",
          "Andaya St.",
          "North Montilla Blvd.",
          "McDonald's Butuan Downtown",
          "R. Calo St.",
          "T. Sanchez St.",
          "M. Calo St.",
          "Baan Viaduct",
          "Baan Km. 3",
          "Ampayon",
          "Taguibo",
          "Sumilihon",
        ],
      },
      {
        id: "12",
        barangays: [
          "Amparo Butuan",
          "Bit-os",
          "Gaisano Butuan",
          "San Vicente Butuan City",
          "Montilla Blvd. Butuan",
          "Holy Redeemer",
          "City Hall",
          "Mandacpan Butuan City",
        ],
      },
      {
        id: "13",
        barangays: [
          "Banza National High School Butuan",
          "Brgy. Maug Butuan City",
          "Mahogany Butuan City",
          "Baan Butuan",
          "M. Calo St. Butuan",
          "G. Flores Avenue Butuan",
          "Rosales St. Butuan City",
          "North Montilla Blvd.",
          "Obrero Elem. School",
          "Langihan Public Market",
          "Butuan City Hall",
          "J. Rosales St.",
          "J. C. Aquino Ave. (DBP)",
          "Baan Viaduct",
          "Brgy. Mahogany",
          "Brgy. Maug",
          "Brgy. Banza",
        ],
      },
      {
        id: "10",
        barangays: [
          "Dumalagan Butuan",
          "J.C. Aquino Ave. Butuan",
          "Baan Butuan",
          "Baan Km. 3",
          "Tiniwisan Butuan",
          "Philippine Science High School Butuan",
          "Ampayon",
          "Vice Versa",
          "Robinsons Butuan City",
        ],
      },
      {
        id: "7",
        barangays: [
          "De Oro Butuan",
          "Taligaman Butuan",
          "Antongalon Elem. School Butuan",
          "LTFRB Butuan",
          "Ampayon Butuan",
          "Caraga State University",
          "Philippine Science High School Butuan",
          "Tiniwisan Butuan",
          "Butuan Medical Center",
          "Baan Butuan",
          "M. Calo St.",
          "G. Flores St.",
          "North Montilla Blvd. Butuan",
          "Andaya St. Butuan",
          "Langihan Public Market",
          "Butuan City Hall",
          "Development Bank Of The Philippines",
          "SM Butuan",
          "R. Calo St. Butuan",
          "T. Sanchez St. Butuan",
          "M. Calo St. Butuan",
          "Baan Viaduct Butuan",
          "Baan Km. 3",
          "Tiniwisan Butuan",
          "Ampayon",
          "Antongalon Butuan",
          "Taligaman Butuan",
        ],
      },
      {
        id: "14",
        barangays: [
          "Ampayon Butuan City",
          "Tiniwisan Butuan City",
          "Alviola Butuan City",
          "ERA STORE Butuan City",
          "Lemon Butuan City",
          "Pigdaulan Butuan City",
          "Mahay Butuan City",
          "San Vicente Butuan City",
          "Montilla Boulevard",
          "SM Butuan City",
          "Gaisano Butuan City",
          "Robinsons Butuan City",
        ],
      },
    ];
    </script>
</body>
</html>